body  {
  margin: 0;
  padding: 0;
}

nav {
  height: 60px;
}

ul {
  list-style-type: none;
  float: right;
  text-align: right;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#navlogo {
  float: left;
  height: 100%;
}

#jumbo {
  height: 450px;
  position: relative;
  overflow: hidden;
}

#jumbo:before {
	content: "";
  top: -100px;
	position: absolute;
	width: 100%;
	height: 550px;
	/*top: -50%;
	left: -50%;*/
	z-index: -1;
  background-image: url('images/restaurant-red-beans-coffee.jpg');
	background-size: cover;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

.jumbocontent {
  padding-left: 35px;
  padding-top: 100px;
  width: 275px;
}

span {
  padding-left: 10px;
  padding-right: 0
}

.jumbocontent button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid white 1px;
  text-decoration: none;
  background-color: Transparent;
}

#jumbo h1 {
  color: white;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

#jumbo p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 50;
}

.navigation {
  background-color: #3b2314;
  border-top: 1px solid white;
  height: 30px
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation ul {
  line-height: 30px;
  float: left;
  margin: 0;
}

.navigation li {
  float: left;
  height: 100%;
  font-size: 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 0 75px;
  border-left: 1px solid white;
}

#lastli {
  border-right: 1px solid white;
}

.content {
  height: 450px;
  background-color: #ddd9d7;
}

.desc {
  background-color: white;
  height: 200px;
  padding: 0 10px;
  border: 1px solid white;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.hero {
  float: left;
  margin: 50px 0 0 50px;
  /*padding-left: 20px;*/
  height: 50px;
  width: 25%;
}

.heropic {
  border: 1px solid white;
  height: 150px;
  width: 100%;
  background-image: url('images/coffee-cup-spoon-cappuccino.jpg');
  background-size: cover;
}

.goons {
  float: left;
  margin: 50px 0 0 100px;
  padding-left: 20px;
  height: 50px;
  width: 25%;
}

.goonpic {
  border: 1px solid white;
  height: 150px;
  width: 100%;
  background-image: url("images/coffee-cup-table-morning.jpg");
  background-size: cover;
}

.xpress {
  float: left;
  margin: 50px 0 0 100px;
  padding-left: 20px;
  height: 50px;
  width: 25%;
}

.xpresspic {
  border: 1px solid white;
  height: 150px;
  width: 100%;
  background-image: url("images/restaurant-beans-coffee-cup.jpg");
  background-size: cover;
}

.butn {
  font-family: 'Open Sans', sans-serif;
  color: #395377;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid #395377 1px;
  text-decoration: none;
  background-color: Transparent;
}

.about {
  height: 250px;
  background-color: white;
}

.leftside {
  padding-left: 50px;
}

.leftside p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  width: 45%;
  height: 150px;
}


.rightside {
  float: right;
  height: 100px;
  width: 40%;
}

footer {
  background-color: #3b2314;
  width: 100%;
  height: 200px
}

.leftfoot {
  float: left;
  width: 45%;
}

.leftbtns ul {
  padding-left: 50px;
  text-align: left;
  float: left;
}

.leftfoot li {
  color: white;
  float: left;
  font-family: 'Open Sans', sans-serif;
  border: solid white 1px;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
}

.leftli {
  margin-left: 10px;
}

.leftfoot p {
  float: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding-left: 50px;
  margin: 0;
}

.leftaddress {
  margin-top: 80px;
}

.rightfoot {
  float: left;
  color: white;
  width: 45%;
}

.formvalues {
  width: 150px;
  float: left;
}

.dropdown_container {
    width:90px;
}

.my_dropdown {
    width:auto;
}
/*


.rightfoot input {
  float: right;
  margin-left: 50px;
}

.rightfoot p {
  width: 30px;
}*/

/*font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;*/
